body {
  margin: none;
  margin-bottom: 0;

  background: #2C2B3D;
}

.page {
  width: 1280px;
  padding: 0;

  margin: 71px 98px auto 20px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'JetBrains Mono', monospace;

  padding: 0px 98px 101px 99px;

}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1 {
  font-family: 'JetBrains Mono', monospace;

  color: #FFFFFF;

  text-align: center;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 60px;
}

h1 span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;

  color: #C2C2C2;

  text-align: center;
  font-size: 16px;
  line-height: 28px;
  
}

#img1 {
  padding-left: 99px;
}

p span { 
  color: #00BFA6;

  font-weight: bold;
}

#line {
  width: 568px;
  height: 0;

  margin: 157px auto 0;

  border: 1px solid #00BFA6;
}

#footer {
  display: flex;
  
}

#footer p{
  font-family: 'JetBrains Mono', monospace;

  color: #FFFFFF;

  font-weight: 500;
  font-size: 14px;
  line-height: 28px;

  padding-left: 397px;
  padding-top: 25px;
}

#padlock {
  position: absolute;
  padding-bottom: 25px;
}